.team {
    /*padding-left: 5px !important;*/
}
.scrolling {
    margin-top: -8px !important;
    font-size: 14px !important;
}
.scrolling p {
    font-size: 14px!important;
}




@media (max-width: 768px){
    .scrolling {
        margin-top: 0px !important;
    }
}


.scrolling:hover{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    /* cursor: pointer; */
}


.table-responsive-web{
    overflow-x: visible;
}



.select-price-type-wrapper {
    display:none;
    text-align: right;
    margin: 20px 0;
}
.select-price-type-wrapper .select-price-type {
    background-color: #ff0093;
    border-radius: 4px;
    padding: 7px 12px 7px;
    color: #fff;
    border: none;
    min-width: 140px !important;
    max-width: 140px !important;
}
.project-list-table tr {
    background-color: #fff;
    border-radius: 6.5px!important;
    -moz-box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
    -webkit-box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
    box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
    width: 94%;
    margin: 5px 0px;
    margin-left: 10px;
}
.table-responsive-m{
    display:none;
}
.search-bar-web{
    margin-top: 45px;
    align-items: center;
    justify-content: space-around;
}
.search-bar-web .search_bar {
    margin-left: unset;
}
@media screen and (max-width: 1024px) {
    .table-responsive-web{
        box-sizing: unset !important;
    }
    .table-nowrap td, .table-nowrap th {
        white-space: nowrap !important;
    }
}
@media screen and (max-width: 650px){
    .select-price-type-wrapper {
        display:block;
    }
    .project-list-table tr {
        background-color: #fff;
        border-radius: 6.5px!important;
        -moz-box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
        -webkit-box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
        box-shadow: 0 1.5px 4px 0 rgba(0,0,0,.3) !important;
        /*box-shadow: 0 1.5px 5px 0 rgba(0,0,0,.9) !important;*/
        /*display: inline-block;*/
        width: 100%;
        margin: 0 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 12px 0;
    }
    .project-list-table {
        border-spacing: 0 0 !important;
    }
    td.paddingleftrightzero {
        padding: 0px 0px 0px !important;
    }
    td.row-btn-margin {
        /*padding: 0px 0px 25px !important;*/
        /*padding-right: 15px !important;*/
        /*margin: -64px auto;*/
        /*float: right;*/
        margin: 0;
        text-align: right;
        margin-top: 0px;
    }
    .table-responsive-m{
        overflow-x: visible !important;
    }
    .text-truncate{
        font-size: 14px!important;
        margin: 0px;
        margin-top: 4px;
        overflow: revert !important;
    }
    .stock-pricing {
        font-size: 17px!important;
        font-family: 'Open Sans', sans-serif !important;
        font-weight:700 !important;
    }
    .status-danger, .status-success {
        color: #fff;
        padding: 0.25em 0.9em;
    }
    .status-danger, .status-success {
        color: #fff;
        padding: 0.35em 1.5em;
        font-size: 10px;
        display: inline-block;
        width: 70px;
    }
    .table-responsive-m{
        display:block !important;
    }
    .table-responsive-web{
        display:none !important;
    }
    .search-bar-web{
        margin-top: 15px;
        align-items: unset;
        justify-content: unset;
    }

    .table-responsive-m tr td:nth-child(2), .table-responsive-m tr td:nth-child(3){
        flex: 1;
    }
    .table-responsive-m tr td:nth-child(1){
        max-width: 25px;
        min-width: 25px;
    }
    .table-responsive-m tr{
        padding-left: 5px;
    }

    .project-list-table tbody tr td .team {
        margin-top: 10px !important;
    }

    .project-list-table tbody tr td .team + div {
        margin-top: 30px !important;
    }



    #allmain .project-list-table tbody tr td .team + div{
        margin-top:20px !important;
    }
    .mobile_market{
        display: none;
    }
    .stock-price{
        font-size: 13px!important;
        font-family: 'Open Sans', sans-serif !important;
        font-weight:700 !important;
        padding-right: 9px!important;
    }
}
@media screen and (max-width: 425px) {
    .tab-select input {
        padding: 1px 115px 8px;
        border: none;
        border-bottom: 2px solid #ff0a97;
        text-align: center;
        color: #ff0a97;
        border-radius: 0;
    }

}
@media screen and (max-width: 375px) {
    .tab-select input {
        padding: 1px 90px 8px;
        border: none;
        border-bottom: 2px solid #ff0a97;
        text-align: center;
        color: #ff0a97;
        border-radius: 0;
    }
}
@media screen and (max-width: 320px) {
    .tab-select input {
        padding: 1px 61px 8px;
        border: none;
        border-bottom: 2px solid #ff0a97;
        text-align: center;
        color: #ff0a97;
        border-radius: 0;
    }
}

